
/*@darkblue: #0055A5;
@lightblue: #28A9D6;
@white: #FFFFFF;
@limegreen:#5cb85c;
@lightyellow:#EDF684;
@moreyellow:rgba(255, 255, 204, 1);
@offwhite: #FFFFEB;
@orange: #F0AD4C;

@topMobileNavHeight:7.75%;
@bottomMobileNavHeight:9.85%;
@mobileContentHeight:87.5%;

@signatureColor:#5AC8FB;
@lightBackground:#F7F7F7;
@navbarBackground:#C7C7CC;
@navbarFontColor: #FFFFFF;
@darkTextColor:#2B2B2B;
@lightTextColor:#F7F7F7;
@grey1:#D7D7D7;
@grey2:#DBDDDE;
@grey3:#898C90;
@grey4:#4A4A4A;
@yesColor:#4CD964;
@noColor:#FF9500;
@webHeaderColor: rgba(255, 255, 204, 1);
@navbarMobileActiveYellow: :#EDF684;

@questionRed:#FF3B30;
@questionOrange:#FF9500;
@questionYellow:#FFCC00;
@questionGreen:#4CD964;
@questionBlue:#007AFF;
@questionPurple:#5856D6;


.questiongradient1 {  
    background: #eaeaea;   
    background: linear-gradient(top, #eaeaea, #cccccc);  
    background: -o-linear-gradient(top, #eaeaea, #cccccc);   
    background: -ms-linear-gradient(top, #eaeaea, #cccccc);   
    background: -moz-linear-gradient(top, #eaeaea, #cccccc);   
    background: -webkit-linear-gradient(top, #eaeaea, #cccccc);   
} 
*/

h1 small,

.privacy-level .pic_button,

.user-name,
.previous_query_wrapper .question p,
.small_screen_pagetitle h1,
.user_karma_info .top-navbar-icon-label,
.user_karma_info .glyphicon.glyphicon-chevron-right,
.navbar .nav.navbar-nav .dropdown-menu .dropdown-item a ,
.question p,
.new_query_link a,
.query_text,
.label-default,

.row.settings_button a {
	color:#4A4A4A;
}

.time-label.label-default,
.answers .na-answer,
.help-block{
	color:#898C90;
}

.delete-button {
	color:transparent;
}

.navbar,
.mobile-header,
.mobile-footer,
.top-navbar-icon,
.karma_points_display {
	background:#4A4A4A;
}



.row.container.second {
	border-top: 1px solid #898C90;
}

.like_karma_police a,
.add-friend-button,
#sample_query,
.friend-name,
.privacy-level .btn,
.yes-answer,
.no-answer,
.top-navbar-icon-label,
.karma_points_display_label,
.screen-footer p,
.navbar .nav.navbar-nav .visible-link a,
.user_karma_info .glyphicon-chevron-right,
.navbar .nav.navbar-nav .dropdown .ganesh-dropdown ,
.edit_pencil,
.scoreboard h1,
.mobile-footer ul li a
{
	color: #FFFFFF;
}	


.mobile-footer ul li a:focus,
.mobile-footer ul li a:hover,
.mobile-footer ul li .onpage {
	background:transparent;
	border:none;
	color:#EDF684;
}

.privacy-level .kp_button,
.privacy-level .fb_button,
.privacy-level .private_button,
.query_nav_buttons .btn {
	background-color:#FFFFFF;
	border: 1px solid #898C90;
	color:#898C90;
}

.privacy-level .btn.active,
.query_nav_buttons .active {
	background-color:#1AD6FD;
	color:#FFFFFF;
	border: 1px solid #1AD6FD;
	font-weight:normal;
	box-shadow: none;
}



.user_karma_info .top-navbar-icon{
	background-color:#1AD6FD;
}

.privacy-level .go_button, .go_button, #submit_button,
.yes-answer, .yes-button, .ask_new_query_link,
#invite_more_peeps, .get_points_now, #yes_portion .pie {
	background-color:#4CD964;
}

.ask_new_query_link, #submit_button, .go_button,
#invite_more_peeps,  .later_button , .get_points_now  {
	color: #FFFFFF;
}


.no-answer, .no-button, #logout_button_bottom, 
.later_button, .results_background {
	background:#FF9500;

}




.answers .yes-button,
.answers .no-button {
	color:#FFFFFF;
}

.small_screen_pagetitle,
.link-column,
.user_karma_info,
.fb-column,
.small_screen_pagetitle,
.content_component_container,
.helper_popup,
.user_info_editor,
.jumbotron,
.main_content_container
{
	background:#FFFFFF;
}

.helper_popup{
	border: none;
	color:#2B2B2B;
}

.page-header {
	
	background: rgba(255, 255, 204, 0.7);

}

/*GET KARMA PAGE*/

.friend-name {
	
}

/*ME PAGE*/

.link-column {
	border-left:2px solid #DBDDDE;
}

.user_karma_info {
	border-bottom:1px solid #DBDDDE;
	
}

.row.user_karma_info.mid {
	border-bottom:none;
	
}



.previous_query_wrapper {

	border-top:1px solid #DBDDDE;
}

/*NEW QUESTION*/ 
#query_area {
	background: #DBDDDE; 
	color:#4A4A4A;

}

#query_area::-webkit-input-placeholder {
	color:#898C90;
	font-style: italic;
}

#query_area:-moz-placeholder { /* Firefox 18- */
	color:#898C90;
	font-style: italic;
}

#query_area::-moz-placeholder {  /* Firefox 19+ */
	color:#898C90;
	font-style: italic;
}

/*RECENT QUESTIONS*/

.query_update_row {
	color:#1AD6FD;
}

button.reveal_result {

	color:#898C90;

}

/*SETTINGS PAGE*/

.inner_content_wrapper .row
{
	color:#4A4A4A;
	background:#FFFFFF;
	border-bottom: 1px solid #DBDDDE;
}


.like_karma_police a {
	
	color:#FFFFFF;
	background: #1AD6FD; }

	/*MEDIA QUERIES*/

	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */

	/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */
	@media (min-width: 768px) { 

		.main_content_container,

		.inner_content_wrapper {

			background:#FFFFFF;
		}  

		.row.container.second .col-xs-12 ul.nav.navbar-nav li.visible-link a:focus, 
		.row.container.second .col-xs-12 ul.nav.navbar-nav li.visible-link a:hover,
		.row.container.second .col-xs-12 ul.nav.navbar-nav li.visible-link.active a {
			color:#1AD6FD;
		}

		.content_component_container
		{
			border: 1px solid #F7F7F7;

		}


		.scoreboard .karma_points_display {


			background:#1AD6FD;


		}

		.karma_points_display .badge {
			color:#FFFFFF;
		}


		.row.user_karma_info.mid {
			border-bottom:1px solid #DBDDDE;

		}

		.row.user_karma_info.last {
			border-bottom:none;

		}


	}

	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px) {

		.scoreboard {
			background:transparent;


		}

		.scoreboard .karma_points_display {





		}

		.karma_points_display .badge {

		}


	}

	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) { 


	}


