/*NAVBARS*/

/*MASTER STYLESHEET*/

/*NAVBAR*/

.dropdown-menu, 
.mobile-searchbox {
	font-size:1em;
}

*.navbar-brand {
	font-family:samarkan;
	font-size:2em;
	color:#FFFFFF;

}

.top-navbar-icon-label {
	font-size:0.75em;
} 

.mobile-header .settings_link {
	font-size:0.75em; 
}


/*IMAGES*/

.temp-ganesh-logo {
	width:30px;
	height:40px;
	margin-right:5px;

}

/*NAVBAR*/

.navbar {
	background:#28A9D6;
	border:none;
	z-index:200000000;

}



.navbar .nav.navbar-nav  a{
	color:#333;
	text-decoration: none;

}

.navbar .container {
	margin-top: 15px;
	margin-bottom:15px;
	text-align: center;
}

.navbar .navbar-brand {
	
	padding-top:10px;
	margin-top:10px;
	padding-bottom:10px;
	position:absolute;
	left:40%;
	

}

.navbar-form {
	
	width:auto;
	float:left;

}


.form-control {
	border-radius:25px;
	padding-right:20px;
	width:90%;
	
}


.search-button {
	position:absolute;
	right:15%;
	color:#555;
	background:transparent;
	
}

.ganesh-dropdown {
	padding-top:0px;
	padding-bottom:0px;
	margin-top:-10px;
	border-radius:100%;
	background:transparent;
}

.mobile-searchbox {
	width:100%;
	margin:auto 0;
	text-align: center;
}


.mobile-searchbox .form-group {
	width:100%;
	padding:20px;
}

.mobile-searchbox .form-control{
	width:90%;
	margin: 0 auto;
	text-align:left;
	height:auto;
	padding:10px;

}

.mobile-searchbox .search-button {
	padding-top:30px;

}



/*MOBILE TOP NAVBAR*/	

.mobile-header {
	background:#BDBEC2;
	height:44px;
	text-align:center;
	z-index:100000;

}

.mobile-header .navbar-nav {
	padding:0px;
	margin:0px;
}

.mobile-header .navbar-brand {
	display:block;
	width:100%;
	text-align: center;
	margin: 0 auto;
	padding-top:15px;
	padding-bottom:5px;


}

.mobile-header ul li a {
	color:#FFFFFF;
}

.mobile-header ul li .btn {
	margin-top:0px;
	color:#FFFFFF;
	font-size:1em;
}

.mobile-header ul li a:focus,
.mobile-header ul li a:hover,
.mobile-header ul li .onpage {
	background:transparent;
	border:none;

}

.settings_link {
	position:absolute;
	left:80%;
	padding-top:5px;

}

.settings_link a {
	line-height: 0.5;
}



.mobile-header .back-button {
	position:absolute;
	float:left;
	margin-top:-5px;
	padding-left:25px;

}

.mobile-header .back-button span {
	font-size: 1.5em;
}



/*MOBLE BOTTOM NAVBAR*/

.mobile-footer {
	position:fixed;
	bottom:0%;
	height:62px;
	width:100%;
	background:#BDBEC2;
	z-index:100000;

}

.mobile-footer ul {
	width:95%;
	margin: 0 auto;
	text-align: center;
	margin-top:-15px;


}

.mobile-footer ul li {
	display:inline;
	width:20%;
	float:left;
	padding-right:8px;
	padding-left:0px;
	margin:0 auto;
	padding-top:0px;


}

.mobile-footer ul li a {
	color:#FFFFFF;

}
.btn.bottom-navbar-icon {
	display:inline;
	font-size:0.75em;
	background:transparent;
	border:none;
	margin:0px 10px 10px 10px;
	vertical-align: middle;
}

.bottom-navbar-icon-label{
	display:inline;
	background:transparent;
	margin:-5px 0px 0px 0px;
}

.bottom-navbar-icon:focus, 
.bottom-navbar-icon:hover,
.bottom-navbar-icon:active
{
	background:transparent;

}

.mobile-footer ul li a:focus,
.mobile-footer ul li a:hover,
.mobile-footer ul li .onpage {
	background:transparent;
	border:none;
	color:#EDF684;
}

.mobile-footer li:last-child .bottom-navbar-icon{
	padding-right:0px;

}

[data-icon]:before {
	font-family:'icomoon';
	content: attr(data-icon);
	margin-right:0px;
	padding-bottom:10px;
	padding-top:5px;
	speak:none;
	display:block;
	font-size:2.5em;
}

.mobile-footer span {
	font-size:1em;
	margin-left:0px;
	display:block;

}

.screen-footer {
	height:60px;
	margin-top:40px;
	color:#333;
}

.screen-footer p {
	color:white;
	font-size:1.25em;
	display:block;
	padding-top:20px;
	padding-left:50px;
}


	/* KARMA POINTS DISPLAY BADGE*/

	.top-navbar-icon,
	.karma_points_display {
		float:right;
		clear:none;
		margin-bottom:5px;
		margin-right:0px;
		border-radius:25px;
		border: 5px solid rgba(255,255,255,0.5);
		background: #BDBEC2;
		padding:0px 10px 4px 15px;


	}


	.karma_points_display {
		background: #28A9D6;
		margin-top:10px;
	}

	.top-navbar-icon.edit {
		border:none;
		background:transparent;
	}

	.top-navbar-icon-label,
	.karma_points_display_label {
		color:white;
		display:inline-block;
		margin-right:5px;
		padding-top:0px;
		padding-bottom:0px;
		vertical-align: middle;
	}

	.top-navbar-icon-label p,
	.karma_points_display_label p {
		display:block;
		line-height: 0.5;
		margin-bottom:0px;
		margin-top:5px;
		padding-top:5px;
		padding-bottom:0px;

	}

	.top-navbar-icon-label p:nth-child(1),
	.karma_points_display_label p:nth-child(1)  {
		padding-top:0px;

	}

	.badge {
		display:inline-block;
		font-size:1.5em;
		padding:7px 5px 5px 5px;
		background:transparent;
		vertical-align: middle;

	}

	/*SCREEN NAV LINK*/

	.nav_link_wrapper {
		width:100%;
		position:relative;
		padding:5px 5px 5px 5px;
	}

	.nav_link {
		font-size:1em;
		padding:5px 5px 5px 15px;
		color:#333;
		margin-top:0px;
		float:right;

	}

	.nav_link span {
		font-size:.75em;
		font-weight:lighter;

	}



/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */
@media (min-width: 768px) { 

	.navbar-fixed-top {
		text-align:center;
		padding:10px 0px 0px 0px;
	}

	.navbar .container {
		margin:0 auto;
		text-align:center;
		padding-right:40px;
	}

	div.row.container.second {
		margin:0px;
		padding-top:0px;
		text-align: center;
		width:100%;
		padding-right:0px;
		

	}

	.dropdown {
		
		text-align: left;}

	div.row.container.second .col-xs-12 .nav.navbar-nav{
		width:100%;
	}

	.row.container.second .col-xs-12 .nav.navbar-nav li  {
		text-align: center;
		float:none;
		display:inline-block;
		text-shadow:none;
		font-family:'icomoon';

	}

	.collapse.navbar-collapse .nav.navbar-nav .dropdown .ganesh-dropdown:hover,
	.collapse.navbar-collapse .nav.navbar-nav .dropdown .ganesh-dropdown:focus {
		background:transparent;

	}

	.row.container.second .col-xs-12 ul.nav.navbar-nav li.visible-link a:focus, 
	.row.container.second .col-xs-12 ul.nav.navbar-nav li.visible-link a:hover,
	.row.container.second .col-xs-12 ul.nav.navbar-nav li.visible-link.active a {
		background:transparent;
		
	}

	.navbar .navbar-brand {
		font-size:3em;
		padding-top:10px;
		margin: 0 auto;
		margin-top:10px;
		margin-bottom:-10px;

	}

	.navbar-collapse {
		float:right;
		background:transparent;
		margin-top:0px;


	}

	.mobile-searchbox {
		font-size:1em;
	}

	.navbar-form {
		margin-top:0px;
		
		float:left;

	}

	.row.scoreboard {
		text-align:left;
	}

	.scoreboard {
		background:transparent;
		margin:0px;
		width:auto;
		text-align:left;

	}

	.scoreboard h1 {
		padding: 0px;
		font-size:1.25em;
		margin:5px 0px 0px 5px;
		display:inline;
		width:100px;
		line-height: 1.25em;
		float:left;

	}

	.scoreboard .karma_points_display {
		padding:5px;
		margin:0px 0px 0px 0px;
		font-size:1.5em;
		display:inline-block;
		float:left;
		border:none;
		background:#FFFFFF;
		color:#28A9D6;


	}

	.karma_points_display .badge {
		color:#28A9D6;
	}

	/*SCREEN NAV LINK*/

		.nav_link_wrapper {
			width:100%;
			position:relative;
			padding:10px 40px 10px 10px;
		}

		.nav_link {
			font-size:1.5em;
			padding:15px 15px 15px 15px;
			margin-top:0px;
			float:right;

		}

		.nav_link span {
			font-size:.75em;
			font-weight:lighter;

		}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 


	.navbar .container {
		padding-top:0px;
		margin-top:20px;
		padding-right:70px;

	}

	.navbar-collapse { 
		padding-bottom:20px;
		margin-top:0px;


	}

	.navbar .navbar-brand {

		font-size:4em;
		padding-bottom:10px;
		margin-top:-0px;
		margin-bottom:10px;

	}

	.row.scoreboard {
		margin-top:-20px;
		margin-bottom:-10px;
		
	}

	.scoreboard {
		background:#FFFFEB;
		margin:0px 0px 0px 0px;
		padding:5px 5px 10px 5px;
		border-radius:10px;
		width:auto;

	}

	.scoreboard h1 {
		padding: 15px 0px 0px 0px;
		font-size:1.5em;
		margin:5px 0px 0px 0px;
		display:inline-block;
		line-height: 0.8em;
		float:left;
		width:auto;

	}

	.scoreboard .karma_points_display {
		padding:5px;
		margin:0px 0px 0px 10px;
		font-size:1.5em;
		display:inline-block;
		float:left;
		border:none;
		background:#28A9D6;



	}
	.karma_points_display .badge {
		color:#FFFFFF;
	}


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.navbar .container {
		padding-right:90px;
	


	}

	.navbar-collapse { 
		padding-right:0px;
		

	}	

}
