/*MASTER STYLESHEET*/

.green {
	color:green;
}

/*TYPOGRAPHY

	font-family: 'Ubuntu Mono', sans-serif;
	font-family: 'Lobster', cursive;
	font-family: 'Exo 2', sans-serif;*/
	@font-face {
		font-family: samarkan;
		src: url(../fonts/samarkan/SAMARN__.TTF)
	}


	@font-face {
		font-family: 'icomoon';
		src:url('../fonts/icomoon.eot');
		src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	h1, h2, h3, h4, p, label, button, body, span {
		font-family: 'Exo 2', sans-serif;
	}


	label, button, .btn,
	.user_karma_info .glyphicon-chevron-right,
	.form-group label,
	.btn-group label,
	.main_content_container .form-group input,
	.name_wrapper input,
	.me_page_button,
	.delete-button,
	#sample_query,
	.caption .btn,
	.dropdown-menu,
	.row.settings_button a,
	.row.settings_button label,
	.row .radiobutton, 
	.mobile-searchbox,
	.mobile-headertext {
		font-size:1em;
	}

	.privacy-level,
	.time-label {
		font-size:0.75em;
	}


	
	.friend-name {
		font-size:1.5em;
	}

	.query_instructions {
		font-size:1em;
	}

	.page-header .container h1 {
		font-size:3em;

	}

	
	.top-navbar-icon-label {
		font-size:0.75em;
	} 

	.user_karma_info .badge-wrapper {
		font-size:1em;
	}

	.question p,
	{
		font-size:1em;
		
	}
	.question span {
		font-size:1em;
	}

	
	
	#submit_button{
		font-size:3em;

	}

	
	.settings_page_button {
		font-size:2em;

	}

	.like_karma_police a,
	.add-friend-button,
	#sample_query,
	.row.settings_button a,
	.row.settings_button label {
		color: #FFFFEB;
	}	


	.help-block {
		font-size:1.5em;
	}

	.mobile-header .settings_link {
		font-size:0.75em; 
	}

	.query_nav_buttons {
		font-size:0.75em;
	}


	/*IMAGES*/

	.temp-ganesh-logo {
		width:30px;
		height:40px;
		margin-right:5px;

	}

	/*BUTTONS & ICONS*/

	.delete-button {
		position:absolute;
		right:3px;
		padding:0;
		background: transparent;
		border:none;
		color:#CCC;
		margin-top:10px;
		margin-right:10px;
		z-index:100;
	}

	.glyphicon-time {
		margin-right:10px;
	}

	.time-label.label-default {
		padding:10px;
		border-radius:5px; 
	}

	.time-label.label-default{
		color:#0055A0;
		background:transparent; 
		
	}

	.privacy-level .btn {
		color:#FFFFFF;
	}

	.privacy-level .kp_button,
	.privacy-level .fb_button,
	.privacy-level .private_button {
		background-color:#FFFFFF;
		border: 1px solid #28A9D6;
		color:#28A9D6;
	}

	.privacy-level .btn.active {
		background-color:#28A9D6;
		color:#FFFFFF;
		font-weight:bold;
	}

	.privacy-level .pic_button{
		background-color:#333;
	}

	.privacy-level .go_button{
		background-color:#5cb85c;
	}




	.pencil {
		border:none;
		background:transparent;
		display:block;
		font-size:2em;
		left:60%;
		padding:15px 120px 0px 0px;

	}

	/*LAYOUT MAIN PAGE ELEMENTS*/

	.hidden {
		display:hidden;
	}

	.all-app-pages {
		background: url("../img/buddhistpainting2.jpg");
		background-size:100%;
	}

	.main_content_container {
		width:100%;
		margin-top:40px;
		background:transparent;

	}

	.col-xs-6,
	.col-xs-12,
	.row {
		padding:0px;
		margin:0px;
	}  

	.content_component_container {
		position:relative;
		border: 1px solid #28A9D6;
		margin: 0 auto;
		padding:10px;
		background:#FFFFEB;
		height:auto;
	}

	.jumbotron {
		background:transparent;
		padding: 0px 0px 0px 20px;
		margin:0px;
	}

	.small_screen_pagetitle {
		background:#FFFFEB;
		text-align: center;
		margin-bottom:20px;
	}



	/*COMPONENTS*/


	/*HELPER POPUP*/

	.outer {
		width:100%;
		position:fixed;
		text-align:center;
		z-index:999999;
		margin-top:0px;
		background-color:rgba(000,000,000, 0.7);
		height:100%;
		width:100%;
		top:0;
		left:0;
		display:block;
		padding-top:50px;

	}

	.helper_popup {
		display:block;
		z-index: 1000000;
		height:auto;
		width:250px;
		background:#FFFFFF;
		border: 1px solid #28A9D6;
		color:#333;
		padding:20px 10px 10px 10px;
		margin: 0 auto;
		margin-top:0px;
		text-align:left;
	}

	.popup_text {
		margin-left:5px;
	}

	.popup_text.first {
		font-weight:bold;
		display:block;
		text-align:center;
		font-size:1.1em;

	}

	.helper_popup li span {
		margin-top:10px;
		font-family:'icomoon';
		font-weight:bold;
		display:inline-block;
		font-size: 1.25em;

	}

	.helper_popup ul {
		list-style-type: none;
		margin-left:0;
		padding-left:0px;
	}

	.helper_popup li p {
		display:inline-block;
		margin-left:35px;
		margin-top:-27px;
	}
	.helper_popup .btn_wrapper {
		text-align:center;
	}


	.helper_popup .btn {
		margin-top:10px;
		margin-bottom:15px;
		width:49%;
	}

	.user_pref_checkbox {
		padding-bottom:20px;
	}

	/*USER INFO WRAPPER */

	.user-info-wrapper {
		text-align: left;
	}


	.fbpic_container {
		display:inline-block;
		width:auto;
		height:auto;
		padding:10px;
	}

	.fbpic_small {
		width:60px;
		height:60px;
		background:#28A9D6;
		background-image: url('../img/shutterstock_157248584.jpg');
		background-size:600%;
		background-position: 0% 0%;
		vertical-align: top;
		display:inline-block;
		border-radius:100%;

	}

	.friend-name {
		position:relative;
		top:30px;
		margin:0 auto;
		display:inline-block;
	}



	/*note this is the temporary generation of pictures from the sprite sheet not the real way photots will be pulled from facebook*/

	.fbpic_small.user_num_1_fb_photo {        
		background-position: 1.8% 1.8%;
	}

	.fbpic_small.user_num_2_fb_photo {
		background-position: 1.4% 25.5%;
	}

	.fbpic_small.user_num_3_fb_photo {
		background-position: 0% 40.9144%;
	}


	/* QUESTIONS */

	
	.question .form-control {
		padding:5px 15px 5px 15px;
		
		position:relative;
		border-radius:10px;
		margin:0 auto;

	}

	.question p{
		color:#FFFFEB;
		display:block;

	}

	.query_text {
		font-style:italic;
		color:#0055A0;
		margin:0 auto;

	}

	.question span {
		margin-bottom:5px;
	}

	.label-default {
		background-color:transparent;
		
	}


	.btn.yes-button,
	.btn.no-button {
		width:auto;
		line-height: 1;
		padding:10px;
		margin:0;
		border-radius:100%;
		font-size:6em;
		font-family: 'icomoon';

	}

	/*ANSWERS*/

	.answers {
		text-align:center;
		margin: 0 auto;
		padding:5px 0px 0px 0px;
		font-family:"icomoon";
		display:block;
		width:100%;

	}

	.yes-answer,
	.no-answer{
		font-size:1.5em;
		font-weight: bold;
		margin:0px;
		padding:5px 25px 5px 25px;
		display:inline-block;
		border-radius:5px;
		color:#FFFFFF;
		text-align:center;

	}

	.yes-answer {
		background:#5cb85c;
		
	}

	.no-answer {
		background:#FF9933;
		
	}

	.answers .na-answer{
		font-size:1.25em;
		font-weight:bold;
		color:#0055A0;
		font-family:"icomoon";
		display:inline-block;
		padding:5px 10px 5px 10px;
		border-radius: 10px;
		max-width:50px;

	}

	.responder_count {
		font-size:1em;
		margin-bottom:0;
		display:inline;
	}



	/*PAGE HEADER*/

	.page-header {
		padding-top:80px;
		padding-bottom:30px;
		background: rgba(255, 255, 204, 0.7);

	}

	.page-header .container {
		position:relative;

	}

	.page-header h1 {
		display:inline-block;
		float:left;
		margin-left:150px;
	}


	/* KARMA POINTS DISPLAY BADGE*/

	.top-navbar-icon,
	.karma_points_display {
		float:right;
		clear:none;
		margin-bottom:5px;
		margin-right:0px;
		border-radius:25px;
		border: 5px solid rgba(255,255,255,0.5);
		background: #BDBEC2;
		padding:0px 10px 4px 15px;


	}


	.karma_points_display {
		background: #28A9D6;
		margin-top:10px;
	}

	.top-navbar-icon.edit {
		border:none;
		background:transparent;
	}

	.top-navbar-icon-label,
	.karma_points_display_label {
		color:white;
		display:inline-block;
		margin-right:5px;
		padding-top:0px;
		padding-bottom:0px;
		vertical-align: middle;
	}

	.top-navbar-icon-label p,
	.karma_points_display_label p {
		display:block;
		line-height: 0.5;
		margin-bottom:0px;
		margin-top:5px;
		padding-top:5px;
		padding-bottom:0px;

	}

	.top-navbar-icon-label p:nth-child(1),
	.karma_points_display_label p:nth-child(1)  {
		padding-top:0px;

	}

	.badge {
		display:inline-block;
		font-size:1.5em;
		padding:7px 5px 5px 5px;
		background:transparent;
		vertical-align: middle;

	}

	/*SCREEN NAV LINK*/

	.nav_link_wrapper {
		width:100%;
		position:relative;
		padding:5px 5px 5px 5px;
	}

	.nav_link {
		font-size:1em;
		padding:5px 5px 5px 15px;
		color:#333;
		margin-top:0px;
		float:right;

	}

	.nav_link span {
		font-size:.75em;
		font-weight:lighter;

	}

	/*MEDIA QUERIES*/

	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */

	/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */
	@media (min-width: 768px) { 

		.main_content_container {
			width:100%;
			margin-top:120px;
			background:#FFFFEB;
		}  
		
		.content_component_container {
			padding:20px;
		}

		.question p {
			font-size:1.5em;

		}

		.yes-answer,
		.no-answer{
			font-size:3em;
			border-radius:20px;
			margin:0px;

		}

		.result {
			padding:5px 20px 5px 20px;
		}

		.answers .na-answer{
			border-radius:20px;
			font-size:3em;
			margin-left:5px;
			margin-right:5px;

		}

		.privacy-level,
		.time-label {
			font-size:1em;
		}

		.responder_count {
			font-size:0.75em;


		}

		/*SCREEN NAV LINK*/

		.nav_link_wrapper {
			width:100%;
			position:relative;
			padding:10px 40px 10px 10px;
		}

		.nav_link {
			font-size:1.5em;
			padding:15px 15px 15px 15px;
			margin-top:0px;
			float:right;

		}

		.nav_link span {
			font-size:.75em;
			font-weight:lighter;

		}

		/*HELPER POPUP*/

		.outer {
			margin-top:0px;
			padding-top:100px;
		}


		.helper_popup {
			
			width:400px;
			font-size: 1.25em;
			padding:30px 30px 30px 15px;


		}

		.popup_text.first {
			font-weight:bold;
			display:block;
			text-align:center;
			font-size:1.5em;

		}



		.helper_popup li span {
			margin-top:10px;
			font-size: 1.5em;
			float:left;
		}



		.helper_popup li p {
			margin-left:35px;
			margin-top:-40px;
			margin-bottom:0px;
			padding-top: 0px;
		}

		.helper_popup .btn {
			margin: 10px 3px 15px 3px;
			width:47%;

		}

		.btn_wrapper {
			width:100%;
			text-align:center;
		}


		.user_pref_checkbox_label {
			display:inline-block;
			margin-left:5px;
		}


	}

	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px) {

		
		.main_content_container {
			width:60%;
			max-width:930px;
			margin: 0 auto;
			margin-top:180px;

		}

		.outer {
			margin-top:0px;
			padding-top:160px;
		}

		.helper_popup {
			
			width:400px;
			padding:30px 15px 30px 15px;
			

		}



	}

	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) { 
		

	}
