/*MASTER STYLESHEET*/

/*TYPOGRAPHY

	font-family: 'Ubuntu Mono', sans-serif;
	font-family: 'Lobster', cursive;
	font-family: 'Exo 2', sans-serif;*/
	@font-face {
		font-family: samarkan;
		src: url(../fonts/samarkan/SAMARN__.TTF)
	}


	@font-face {
		font-family: 'icomoon';
		src:url('../fonts/icomoon.eot');
		src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	h1, h2, h3, h4, p, label, button, body, span {
		font-family: 'Exo 2', sans-serif;
	}


	label, button, .btn,
	.user_karma_info .glyphicon-chevron-right,
	.form-group label,
	.btn-group label,
	.main_content_container .form-group input,
	.name_wrapper input,
	.me_page_button,
	.delete-button,
	#sample_query,
	.caption .btn,
	.dropdown-menu,
	.row.settings_button a,
	.row.settings_button label,
	.row .radiobutton, 
	.mobile-searchbox,
	.mobile-headertext {
		font-size:1em;
	}

	.privacy-level,
	.time-label {
		font-size:0.75em;
	}


	
	.friend-name {
		font-size:1.5em;
	}

	.query_instructions {
		font-size:1.5em;
	}

	.page-header .container h1 {
		font-size:3em;

	}

	h1 small {
		color:#333;
	}
	.top-navbar-icon-label {
		font-size:0.75em;
	} 

	.user_karma_info .badge-wrapper {
		font-size:1em;
	}

	.question p,
	{
		font-size:1.25em;
		
	}
	.question span {
		font-size:1em;
	}

	
	
	#submit_button{
		font-size:3em;

	}

	
	.settings_page_button {
		font-size:2em;

	}

	.like_karma_police a,
	.add-friend-button,
	#sample_query,
	.row.settings_button a,
	.row.settings_button label {
		color: #FFFFEB;
	}		


	.help-block {
		font-size:1.5em;
	}

	.mobile-header .settings_link {
		font-size:0.75em; 
	}

	.query_nav_buttons {
		font-size:0.75em;
	}


	/*IMAGES*/

	.temp-ganesh-logo {
		width:30px;
		height:40px;
		margin-right:5px;

	}

	/*BUTTONS & ICONS*/

	.delete-button {
		float:right;
		padding:0;
		background: transparent;
		border:none;
		color:#CCC;
		margin-top:-10px;

	}

	.glyphicon-time {
		margin-right:10px;
	}

	.time-label.label-default {
		padding:10px;
		border-radius:5px; 
	}

	.time-label.label-default{
		color:#0055A0;
		background:#CCC; 
		
	}

	.privacy-level .btn {
		color:#FFFFFF;
	}

	.privacy-level .kp_button,
	.privacy-level .fb_button,
	.privacy-level .private_button {
		background-color:#428bca;
	}

	.privacy-level .btn.active {
		background-color:#CCC;
		color:#0055A0;
		font-weight:bold;
	}

	.privacy-level .pic_button{
		background-color:#333;
	}

	.privacy-level .go_button{
		background-color:#5cb85c;
	}




	.pencil {
		border:none;
		background:transparent;
		display:block;
		font-size:2em;
		left:60%;
		padding:15px 120px 0px 0px;

	}

	/*LAYOUT MAIN PAGE ELEMENTS*/

	.all-app-pages {
		background: url("../img/buddhistpainting2.jpg");
		background-size:100%;
	}

	.main_content_container {
		width:100%;
		margin-top:40px;
		background:#FFFFEB;

	}

	.col-xs-6,
	.col-xs-12,
	.row {
		padding:0px;
		margin:0px;
	}  

	.content_component_container {
		position:relative;
		border: 1px solid #28A9D6;
		margin: 0 auto;
		padding:10px;
		background:#FFFFEB;
		height:auto;
	}

	.jumbotron {
		background:transparent;
		padding: 0px 0px 0px 20px;
		margin:0px;
	}



	/*COMPONENTS*/

	/*USER INFO WRAPPER */

	.user-info-wrapper {
		text-align: left;
	}


	.fbpic_container {
		display:inline-block;
		width:auto;
		height:auto;
		padding:10px;
	}

	.fbpic_small {
		width:90px;
		height:90px;
		background:#28A9D6;
		background-image: url('../img/shutterstock_157248584.jpg');
		background-size:600%;
		background-position: 0% 0%;
		vertical-align: top;
		display:inline-block;
		border-radius:100%;

	}

	.friend-name {
		position:relative;
		top:40px;
		margin:0 auto;
		display:inline-block;
	}



	/*note this is the temporary generation of pictures from the sprite sheet not the real way photots will be pulled from facebook*/

	.fbpic_small.user_num_1_fb_photo {        
		background-position: 1.8% 1.8%;
	}

	.fbpic_small.user_num_2_fb_photo {
		background-position: 1.4% 25.5%;
	}

	.fbpic_small.user_num_3_fb_photo {
		background-position: 0% 40.9144%;
	}


	/* QUESTIONS */

	.question,
	.question .form-control {
		padding:5px 15px 5px 15px;
		background: #0055A5; 
		position:relative;
		border-radius:10px;
		margin:0 auto;

	}

	.question p{
		color:#FFFFEB;
		display:block;
	}

	.question span {
		margin-bottom:5px;
	}

	.label-default {
		background-color:transparent;
		color:#EDF684;
	}

	.answers {
		text-align: center;
		margin: 0 auto;
		padding:10px;
		font-family:"icomoon";
	}

	.btn.yes-button,
	.btn.no-button {
		width:auto;
		line-height: 1;
		padding:10px;
		margin:0;
		border-radius:100%;
		font-size:6em;
		font-family: 'icomoon';
	}



	/*PAGE HEADER*/

	.page-header {
		padding-top:100px;
		padding-bottom:30px;
		background: rgba(255, 255, 204, 0.7);

	}

	.page-header .container {
		position:relative;

	}

	.page-header h1 {
		display:inline-block;
		float:left;
	}




	/* KARMA POINTS DISPLAY BADGE*/

	.top-navbar-icon,
	.karma_points_display {
		float:right;
		clear:none;
		margin-top:10px;
		margin-bottom:5px;
		margin-right:0px;
		border-radius:25px;
		border:5px solid rgba(255,255,255,0.5);	
		background: #28A9D6;
		padding:0px 10px 4px 15px;


	}

	.top-navbar-icon.edit {
		border:none;
		background:transparent;
	}

	.top-navbar-icon-label,
	.karma_points_display_label {
		color:white;
		display:inline-block;
		margin-right:5px;
		padding-top:0px;
		padding-bottom:0px;
		vertical-align: middle;
	}

	.top-navbar-icon-label p,
	.karma_points_display_label p {
		display:block;
		line-height: 0.5;
		margin-bottom:0px;
		margin-top:5px;
		padding-top:5px;
		padding-bottom:0px;

	}

	.top-navbar-icon-label p:nth-child(1),
	.karma_points_display_label p:nth-child(1)  {
		padding-top:0px;

	}

	.badge {
		display:inline-block;
		font-size:1.5em;
		padding:7px 5px 5px 5px;
		background:transparent;
		vertical-align: middle;

	}

	/*MEDIA QUERIES*/

	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */

	/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */
	@media (min-width: 768px) { 

		.main_content_container {
			width:100%;
			margin-top:80px;
		}  
		
		.content_component_container {
			padding:20px;
		}

		


	}

	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px) {

		
		.main_content_container {
			width:80%;
			max-width:930px;
			background:#FFFFEB;
			margin: 0 auto;

		}

	}

	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) { 
		

	}
