/*TYPOGRAPHY

	font-family: 'Ubuntu Mono', sans-serif;
	font-family: 'Lobster', cursive;
	font-family: 'Exo 2', sans-serif;*/
	@font-face {
		font-family: samarkan;
		src: url(../fonts/samarkan/SAMARN__.TTF)
	}


	@font-face {
		font-family: 'icomoon';
		src:url('../fonts/icomoon.eot');
		src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	h1, h2, h3, h4, p, label, button, body {
		font-family: 'Exo 2', sans-serif;
	}


.navbar-brand {
	font-size:2em;
}

.mobile-headertext {
	font-size:1em;
}

.bottom-navbar-icon {
	font-size:2em;
}

.bottom-navbar-icon-label {
	font-size:0.5em;
}

.friend-name

.mobile-searchbox .form-control

.search-button

.add-friend-button

/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 



.mobile-headertext {
	font-size:2em;
}

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



}


