
/*PLACEHOLDER PAGE STYLESHEET*/

/*PLACEHOLDER CONTAINER*/

.signin_container {
	text-align:center;
	width:100%;
	height:auto;
	padding:40px;
	position:relative;
	margin-top:400px;
	margin-bottom:300px;

}

.signin_container h1 {
	display:block;
	width:100%;
	line-height: 0.35;
}

.signin_container .navbar-brand {
	display:block;

}

.navbar-brand1 {
	margin-left:-20px;
}

.navbar-brand2 {
	margin-left:35px;
	margin-bottom:50px;
}



/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 

}




	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px) { 

		

	}

	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) { 

		

	}