
@darkblue: #0055A5;
@lightblue: #28A9D6;
@white: #FFFFFF;
@limegreen:#5cb85c;
@lightyellow:#EDF684;
@moreyellow:rgba(255, 255, 204, 1);
@offwhite: #FFFFEB;
@orange: #F0AD4C;

@topMobileNavHeight:7.75%;
@bottomMobileNavHeight:9.85%;
@mobileContentHeight:87.5%;



.test {
	color:@darkblue;
	font-size:4em;
}