/*NEW QUERY PAGE STYLESHEET*/

/*NEW QUESTION EDITOR*/

.question {
	padding:10px;
	background:transparent;
	position:relative;
	margin:0 auto;
	clear:both;
	width:100%;
}


.edit_button_area {
	display:block;
	width:100%;

}
.query_instructions{
	margin-left:0px;
	padding-bottom:10px;
	font-size:3em;
	display:block;
}

.delete-button {
	float:right;
	font-size:2em;
	margin-right:20px;
	color:#ccc;
	background: transparent;

}

#sample_query {
	background: #0055A5; 
	color:#FFFFEB;
	font-size:2em;
	padding:20px;
	width:100%;
}

#sample_query::-webkit-input-placeholder {
   color:#FFFFEB;
   font-style: italic;
}

#sample_query:-moz-placeholder { /* Firefox 18- */
   color:#FFFFEB;
}

#sample_query::-moz-placeholder {  /* Firefox 19+ */
   color:#FFFFEB;
}

#sample_query:-ms-input-placeholder {  
   color:#FFFFEB; 
}


.help-block {
	display:inline-block;
	font-style:italic;
	margin-bottom:5px;

}

.label_wrapper {
	padding:40px 0px 20px 0px;
	width:100%;
	margin: 0 auto;

}

.caption .btn {
	padding-top:10px;
	margin-top:10px;
	font-weight:bold;
	border:none;
	padding:20px;

}

.dropdown-menu {
	width:100%;
	text-align: center;
}

.privacy-level {
	background:#28A9D6;
	display:block;
	
}

.btn-group {
	margin-bottom:100px;
	width:100%;
}
#submit_button{
	padding: 50px 0px 50px 0px;
	border-radius:25px;

}


/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 
   

	.col-xs-12 {
		border:none;
		
	}   

	.content_component_wrapper {
		padding-left:0px;
		padding-right:0px;
		border:1px solid #28A9D6;
		width:100%;
	}

	.label_wrapper {
		padding:80px 0px 20px 0px;


	}

	.label_wrapper .btn-group {
			left:70%;
		}

	}


	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px) { 


		.yes-button,
		.no-button {
			font-size:7em;
			width:40%;
		}

	}

	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) { 

		

	}