	/*LESS COLORS* not sure how to use at this point/

	@colorback1: #142952;
	@fontcolor1:#333;


/*REPEATED ITEMS*/

@font-face {
		font-family: samarkan;
		src: url(../../fonts/samarkan/SAMARN__.TTF)
	}

.all-app-pages {
	background: url("../../img/buddhistpainting2.jpg");
	background-size:100%;
	}	

/*DASHBOARD*/

.dashboardpage-container {
		position:relative;	
		background:#FFFFEB;
		border: 1px solid #3399FF;}


.user_fb_pic {
	width:300px;
}		




/*MEDIA QUERIES*/

	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */

	/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */
	@media (min-width: 768px) { 
		
		.navbar-brand {
			font-size:4em;

		}

		.btn-submit.top-navbar {
			right:10%;

		}

		.navbar-right {
		margin-right:90px;

	}

	 }

	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px) { 

		.navbar .container {
			padding-top:20px;
			margin-top:20px;

		}

		.navbar-brand {
			font-size:4em;
			left:5%;

		}

		.btn-submit.top-navbar {
			right:15%;

		}

		.navbar-right {
		margin-right:0px;

	}
			 }

	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) { 
		.navbar-brand {
			font-size:5em;
			left:10%;
		

			}

		}
