/*MY FRIENDS PAGE STYLESHEET*/

/*LINK TO INVITE FRIENDS*/

.invite_friends_link_wrapper {
	width:100%;
	position:relative;
	padding:5px 5px 5px 5px;
}

.invite_friends_link {
	font-size:1em;
	padding:5px 5px 5px 15px;
	color:#333;
	margin-top:0px;
	float:right;

}

.invite_friends_link span {
	font-size:.75em;
	font-weight:lighter;
	
}

/*MY FRIENDS*/

.fb_friendsarea {
	padding:0px;
	width:100%;
	margin: 0 auto;
	margin-top:20px;
	border: 1px solid #FFFFFF;
	clear:both;
	background: #0055A5; 
	color:#FFFFEB;

}

.fb-column {
	border-right: 1px solid #FFFFEB;

}

.user-info-wrapper {
	border-bottom: 1px solid #FFFFEB;

}

.fbpic_container {
	padding:5px;
}

.fbpic_small {
	width:50px;
	height:50px;

} 

.friend-name {
	top:20px;

}




/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 



	.content_component_wrapper {
		padding:0px 30px 0px 30px;
	}

	.invite_friends_link_wrapper {
		width:100%;
		position:relative;
		padding:10px 40px 10px 10px;
	}

	.invite_friends_link {
		font-size:1.5em;
		padding:15px 15px 15px 15px;
		color:#333;
		margin-top:0px;
		float:right;

	}

	.invite_friends_link span {
		font-size:.75em;
		font-weight:lighter;

	}



	.fb_friendsarea {
		width:90%;
	}

	.add-friend-button {
		font-size:2em;
		padding-top:5px;
		margin-right:40px;
	}

	.fb-column .row{
		width:100%;
		margin:0;
		padding:0;
		border: 1px solid #28A9D6;
	}



	.mobile-headertext {
		font-size:1.5em;
	}

}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 





}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



}

