/*EDIT QUERY PAGE STYLESHEET*/

/*HEADER*/

.page-header .container h1 {
	margin-left:150px;
}

/*QUESTION INFO*/

.content_component_container {
	min-height:568px;
	padding-top:60px;
}

.previous_query_wrapper {
	padding:10px;
}

.label_wrapper {
    padding:0px;
}


.label_wrapper .btn-group {
    float:right;

}

.time-label {
    float:left;

}

.time-label.label-default {
    padding:5px;
    margin-bottom:15px;

}

.privacy-level {
    margin-bottom:15px;
}

.privacy-level .btn {
    padding:2px 5px 2px 5px;
}

.question {
    clear:both;
    margin-top:10px;
    margin-bottom:10px;
    min-height: 70px;
  
}


/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 


	.col-xs-12 {
		border:none;
		
	}   

	.content_component_container {
		padding-left:0px;
		padding-right:0px;
		width:80%;
		border:none;
		min-height:1200px;
	}

	#sample_query {
		font-size:1.5em;

	}


	.privacy-level {
		font-size:1.5em;
	}

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 


.content_component_container {
	padding-top:40px;
	width:90%;
	min-height:809px;

}	

.label_wrapper {
    padding-top:20px;
}    



.privacy-level,
.time-label.label-default {
    font-size:1em;
    padding:10;
}

.question p {
    font-size:1.5em;
}

.answers {
    padding-top:20px;
    padding-bottom:0px;
}

.news_update, .query_text {
    font-size:1.25em;

}


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



}