/*EDIT QUERY PAGE STYLESHEET*/

.content_component_container {
	min-height:568px;

}

.question_info_wrapper {
	width:100%;
	display:block;
	height:120px;
}

.query_pic_container {
	float:left;
	margin-right:10px;
}

.query_pic {
	width:120px;
	height:120px;
}

.settings_wrapper {
	padding-right:15px;
	padding-top:5px;
	position:relative;
	display:inline-block;
	text-align: center;
}

.settings_wrapper.second {
	
	
}

.question p {
	font-family:'courier';
	font-size:1.25em;

}

.question_text_box {
	padding:10px;
}

.query_instructions.privacy_label {
	font-weight:normal;
	font-size:0.8em;
}

.answers_wrapper {
clear:both;
margin-top:10px;
}

.answers_wrapper .row {
	
}

.answers_wrapper .row .col-xs-6 {
	height:150px;
	border: 1px solid black;
}

#answer_reveal {
   text-align:center;
    margin-top:0px;
 background-color:rgba(255,255,255,0.8);  
 width:180px;
 height:150px;
}

.results_container {
  height: 120px;
  text-align:center;
  width:100%;
  position:relative;
}

.results_background {
  background-color: grey;
  width: 90px;
  height: 90px;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  -o-border-radius: 45px;
  border-radius: 45px;
  -moz-box-shadow: -1px 1px 3px #000;
  -webkit-box-shadow: -1px 1px 3px #000;
  -o-box-shadow: -1px 1px 3px #000;
  box-shadow: -1px 1px 3px #000;
  margin:0 auto;


} 

.answer_bubble {
    background:#FFFFFF;
    height:90px;
    width:90px;
    border-radius:100%;
    position:absolute;
    top:30px;
    left:55px;
    text-align:center;
    font-size:2.75em;
    padding-top:30px;
    z-index:1000;
    -moz-box-shadow: -1px 1px 3px #000 inset;
    -webkit-box-shadow: -1px 1px 3px #000 inset;
    -o-box-shadow: -1px 1px 3px #000 inset;
    box-shadow: -1px 1px 3px #000 inset;
}

.pie {
  position:absolute;
  width: 180px;
  height: 180px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  -o-border-radius: 90px;
  border-radius: 90px;
  clip: rect(0px, 90px, 180px, 0px);


}

.hold {
  position:absolute;
  width: 180px;
  height: 190px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  -o-border-radius: 90px;
  border-radius: 90px;
  clip: rect(0px, 180px, 180px, 90px);
  left:25px;
  top:0px;

}

#yes_portion .pie {
  background-color: #1b458b;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);

}



/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 


	.col-xs-12 {
		border:none;
		
	}   

	.content_component_container {
		padding:0px;
		width:80%;
		border:none;
		min-height:1200px;
	}

	#sample_query {
		font-size:1.5em;

	}


	.privacy-level {
		font-size:1.5em;
	}

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 


.content_component_container {
	
	width:90%;
	min-height:809px;

}	

.label_wrapper {
    padding-top:20px;
}    



.privacy-level,
.time-label.label-default {
    font-size:1em;
    padding:10;
}

.question p {
    font-size:1.5em;
}

.answers {
    padding-top:20px;
    padding-bottom:0px;
}

.news_update, .query_text {
    font-size:1.25em;

}


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



}