/*LESS COLORS* not sure how to use at this point

@color{
        @colorback1: #142952;
        @fontcolor1:#333;

        }*/

        /*REPEATED ITEMS*/

        @font-face {
            font-family: samarkan;
            src: url(../../fonts/samarkan/SAMARN__.TTF)
        }

        @font-face {
            font-family: 'icomoon';
            src:url('../fonts/icomoon.eot');
            src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
            url('../fonts/icomoon.woff') format('woff'),
            url('../fonts/icomoon.ttf') format('truetype'),
            url('../fonts/icomoon.svg#icomoon') format('svg');
            font-weight: normal;
            font-style: normal;
        }


        .all-app-pages {
            background: url("../../img/buddhistpainting2.jpg");
            background-size:100%;
        }        

    /*QUESTION AREA*/

        .recent_query {
            height:auto;
        }

        .label_wrapper {
            padding:40px 0px 20px 0px;
            width:80%;
            margin: 0 auto;
            
        }

        .caption .btn {
            padding-top:10px;
            margin-top:10px;
            font-weight:bold;
            border:none;
        }

        .delete-button {
            float:right;
            font-size:2em;
            margin-right:20px;
            color:#ccc;

        }

        .privacy-level,
        .edit-button {
             font-size:1.5em;
        }

        .delete-button, 
        .edit-button {
            background: transparent;
        }


        .btn-group {
            float:right;
        }

        .dropdown-menu {
            font-size:1.5em;
        }

        .privacy-level {
            background:#28A9D6;

        }

        .question {
            padding:10px;
            background: #0055A5; 
            position:relative;
            border-radius:0px;
            width:80%;
            margin:0 auto;

        }

        .question p{
            font-size:1.5em;
            color:#FFFFEB;
            display:block;
           


        }

        .question span {
            display:inline-block;
            font-size:1.25em;
            margin-bottom:5px;


        }


        .answers {
            width:80%;
            margin: 0 auto;
            padding:20px;
            font-family:"icomoon";
            
            
        }

        .yes-button,
        .no-button {
            width:36%;
            padding:0px 0px 0px 0px;
            margin:0;
            border-radius:50px;
            font-size:4em;
            line-height:1.5;
        }


        .result {
            font-size:0.6em;
            margin-top:-10px;
            padding-top:-10px;
        }

        .answers .na-button{
            width:18%;
            border-radius:25px;
            font-size:2em;
            font-weight:bold;
            color:rgba(255, 0, 0, 0.5);
            border:5px solid rgba(255, 0, 0, 0.5);
            background:white;
            margin-left:10px;
            margin-right:10px;


        }



        /*MEDIA QUERIES*/

        /* Extra small devices (phones, less than 768px) */
        /* No media query since this is the default in Bootstrap */

        /* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */
        
        @media (min-width: 768px) { 


        .questionarea_container {
            width:100%;
            margin-top:105px;

        }    

         .answers .na-button{
            max-width:80px;

        }

        .col-xs-12 {
            width:100%;
            border:none;
            padding:0px;
            margin:0px;
         }   

         .recent_query {
            padding-left:0px;
            padding-right:0px;
            border:1px solid #28A9D6;
            width:100%;
         }

         .label_wrapper {
            padding:80px 0px 20px 0px;
            
            
        }



        

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) { 

        .questionarea_container {
            width:80%;
            max-width:930px;
            margin: 0 auto;
        }


        .yes-button,
        .no-button {
            font-size:7em;
            width:40%;
        }

        .answers .na-button{
          


        }

    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) { 

     .answers {
        

    }

    .yes-button,
    .no-button {
       

    }

    .answers .na-button{
       


    }

}