/*RECENT QUESTION PAGE STYLESHEET*/

/*RECENT QUERY COMPONENT - REPEATED ON ME PAGE*/

.content_component_container {
    height:auto;
    padding-top:10px;
    clear:both;
}


.label_wrapper {
    padding:0px;
}


.label_wrapper .btn-group {
    float:right;

}

.time-label {
    float:left;

}

.time-label.label-default {
    padding:5px;
    margin-bottom:5px;

}

.privacy-level {
    margin-bottom:5px;
}

.privacy-level .btn {
    padding:2px 5px 2px 5px;
}

.question {
    clear:both;
    margin-top:5px;
}


/*FRIEND_QUERY_UPDATE COMPONENT*/

.query_update_row {
    display:block;
    min-height:60px;
    color:#28A9D6;
    clear:both;
}

.query_update {
    display:inline-block;
    float:left;
    height:auto;
   
}

.news_update .friend-name {
    display:inline-block;
    float:left;
    top:0%;
    font-size:1em;
    font-weight:bold;
    margin-right:3px;
    margin-left:5px;

    }

.news_update {
    display:inline-block;
    padding-top:3px;
}

.query_text {
    font-style:italic;
    color:#0055A0;

}

button.reveal_result {
    background:transparent;
    border:none;
    color:#28A9D6;
    float:right;
    clear:none;
    padding:0px;
    margin:0px;
    top:55%;
    font-size:1.5em;
}

.friend_query_link.glyphicon-chevron-right {
    float:right;
    clear:none;
    padding-top:10px;
    margin:0px;
    font-size:1.5em;
    
}

.reveal_result .glyphicon-chevron-down,
.reveal_result .glyphicon-chevron-right {
    float:none;

}

.clear_float {
    width:100%;
    clear:both;
}






/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 

.content_component_container {
    padding:30px;

}    

.label_wrapper {
    padding-top:20px;
}    



.privacy-level,
.time-label.label-default {
    font-size:1em;
    padding:10;
}

.question p {
    font-size:1.5em;
}

.answers {
    padding-top:20px;
    padding-bottom:0px;
}

.news_update, .query_text {
    font-size:1.25em;

}


}




/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .main_content_container {
    width:60%;
}


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



}


