/*SETTINGS PAGE STYLESHEET*/

/*HEADER*/


/*SETTINGS AREA*/ 

.content_component_container {
	padding:0px;
}

.inner_content_wrapper {
	min-height: 700px;
}

.inner_content_wrapper .row
{
	color:#FFFFEB;
	background:#0055A5;
	border: 1px solid white;
	padding:0px;
	height:auto;
	
}



.row .form-group {
	width:100%;
	padding-bottom:0px;
	margin-bottom:0px;
	font-weight:lighter;
}

label {
	font-weight: lighter;

}


.main_content_container .form-group input,
.name_wrapper input {
	border-radius: 0px;
	width:100%;
	height:auto;
	border:1px solid #FFFFFF;
	font-weight:lighter;
	
}

.like_karma_police {
	width:100%;
	display:block;

	padding:0px;
}

.like_karma_police label {
	display:block;
	padding:5px 10px 5px 10px;
}

.like_karma_police a {
	
	color:#FFFFEB;
	background: #28A9D6;
	font-size:2em;
	border-radius:0px;

}

.row.settings_button {
	padding:5px 10px 5px 10px;
}


.row.settings_button a,
.row.settings_button label{
	text-align: left;
	margin-left:0px;
	font-weight: lighter;
	display:inline;

}

.row label {
	padding-bottom:0px;
	margin-bottom:0px;
	font-weight: lighter;
}



.row a span {
	float:right;
	padding-right:20px;
	padding-top:5px;
	display:inline-block;
}

.row .radiobutton {
	float:right;
	margin-right:5px;
	margin-bottom:0px;
	padding:2px 10px 2px 10px;
}


.settings_page_button {
	margin-top:0px;
	border-radius:0;
	border:none;
	padding:10px;
}


.btn-success.settings_page_button {
	background:#5cb85c;;
}

.btn-danger.settings_page_button {
	background:#F0AD4C;
	margin-top:0px;
	border-top: 1px solid white;
}

.row .enter_buttons {
	padding:0px;
}

.space_filler{
	height:70px;
}

/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 

	.main_content_container {
		margin-top:80px;
		background:#FFFFEB;
		min-height: 1000px;

	}

	.content_component_container {
		padding:0px 30px 30px 30px;
		background:#FFFFEB;
		height:auto;
		border:none;

		
	}

	.col-xs-12 {

		border:none;

	}   
	
	.inner_content_wrapper {
		margin:0px 20px 20px 20px;
	}


	.fb-column .row{
		width:100%;
		margin:0;
		padding:0;
		
	}

	.user_karma_info .top-navbar-icon {
		margin:20px 80px 20px 20px;
		width:120px;
		text-align:center;
	}
	.row.settings_button a,
	.row.settings_button label{
		margin-left:20px;
		

	}

	.row a span {

		padding-right:40px;
		
	}

}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	.main_content_container {
		margin-top:40px;
		min-height:0px;
	}

	.content_component_container {
		padding-top:30px;
	}

	.inner_content_wrapper {
		margin-top:20px;
	}


	.user_karma_info .badge-wrapper {
		padding:10px 0px 10px 0px;
		text-align: center;
		font-size:1.25em;
	}

	.user_karma_info .glyphicon-chevron-right {
		font-size:2em;
		color:#FFFFEB;
		position:absolute;
		top:38%;
		left:85%;
		float:right;


	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



}