/*GET KARMA PAGE STYLESHEET*/



/*PHOTO TILES*/


.scoreboard h1 {
    display:inline-block;
    margin-left:20px;
}

.scoreboard .karma_points_display {
    background:#28A9D6;
    z-index:1;
    display:inline-block;  
    width:auto; 
    padding:5px;
    margin-top:-10px;
 
}

.scoreboard .badge-wrapper {
    padding-top:0px;
 
}

.scoreboard .badge {
    font-size:4em;
}


.main_content_container {
    padding:0px;
}

.content_component_container { 
    padding-top:5px;
    position:relative;
    height:475px;

}


.user-info-wrapper {
   margin-top:25px;
   clear:both;

}





/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 

.main_content_container {
        min-width:800px;
} 

.scoreboard {
    padding:12px 20px 10px 20px;
    background:#FFFFEB;

}

.user-info-wrapper {
    text-align:center;
}

.content_component_container {
    padding-top:40px;
    padding-left:20px;
    padding-right:20px;
    height:auto;
    
}

.fbpic_small {
    width:180px;
    height:180px;
    background-image: url('../img/shutterstock_157248584.jpg');
    background-size:500%;
    background-position: 0% 0%;
    vertical-align: top;

}

.friend-name {
    position:relative;
    top:0px;
    padding:10px;

}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .main_content_container {
        background:transparent;
        margin-top:130px;
    }
 
    .scoreboard {
        background:#FFFFEB;
        margin:0px 0px 20px 0px;
        padding:10px;
        border-radius:10px;
        width:auto;

    }

    .scoreboard h1 {
        padding:10px 0px 10px 0px;
        
    }

    .scoreboard .karma_points_display {
        margin-bottom:0px;
        margin-top:10px;
    }

  

    .content_component_container {
        height:auto;
        padding-top:30px;
        text-align: center;
    }


    .question {
        text-align: left;
        
    }


    

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 .answers {
    width:100%;
    margin-top:10px;
    margin-bottom:30px;
    margin-left:0px;
    font-family:"icomoon";
    padding-left:0px;


}



.answers .na-button{
    width:40px;
    border-radius:100%;
    font-size:1.5em;
    font-weight:bold;
    color:rgba(255, 0, 0, 0.5);
    border:5px solid rgba(255, 0, 0, 0.5);
    background:white;
    padding:0px 5px 0px 5px;


}

}
