/*GET KARMA PAGE STYLESHEET*/

/*ANIMATIONS*/

@keyframes myfirst
{
  from {top:70%; left: 10%; width:100px; height:100px; z-index: 1;}
  to {top:50%; left:30%; width:250px; height:250px; z-index: 100000000;}
}

@-webkit-keyframes animate /* Safari and Chrome */
{
  from {top:70%; left: 10%; width:100px; height:100px; z-index: 1;}
  to {top:50%; left:30%; width:250px; height:250px; z-index: 100000000;}
}


/*PHOTO TILES*/

.top-navbar-icon {
    z-index:100000;
    position:fixed;
    margin-top:5px;
    top:0px;
    right:0px;
    border:none;
}


.top-navbar-icon.karma-points .badge {
    font-size:1.25em;
    padding:4px 0px 2px 0pc;

}

.top-navbar-icon.karma-points  {
    border-radius:20px;
}

.top-navbar-icon.karma-points  .top-navbar-icon-label {
    line-height:0.4em;
}


.allKP_active_queries_list {
    height:400px;
    overflow:scroll;
}


.main_content_container {
    padding:0px;
}

.content_component_container { 
    padding:0px;
    position:relative;
    height:480px;
    background:#FF3B30;
    border:none;
    border-bottom: 1px solid #FFFFFF;
    
}


.question {
    background:transparent;
    padding:10px;
    height:260px;
    width:310px;
    position:relative;
    border-radius:0px;
    margin:0 auto;
    margin-bottom:0px;
    position:relative;

}

.question p{
    color:#FFFFEB;
    display:block;
    height:190px;
    padding:50px 10px 0px 10px;

}

.user-info-wrapper {
  padding:0px 10px 0px 10px;
  margin:0px;


}

.fbpic_container {
    display:inline-block;
    width:auto;
    height:auto;
    padding:0px;
}

.fbpic_small {
    width:40px;
    height:40px;
    background:#28A9D6;
    background-image: url('../img/shutterstock_157248584.jpg');
    background-size:600%;
    background-position: 0% 0%;
    vertical-align: top;
    display:inline-block;
    border-radius:0%;

}

.friend-name {
    position:relative;
    top:20px;
    margin:0 auto;
    display:inline-block;
    padding-left:5px;
    font-size:1em;
}

.question span {
    margin-bottom:0px;

}

.label-default {
    background-color:transparent;
    position:relative;
    display:inline;
    top:20px;
    padding:0px;
    float:right;
}




.question p,
.label-default {
    font-size:1.25em;
    font-family:'courier';
}





.answers .yes-button, 
.answers .no-button {
    color:#FF3B30;
    

}


/*answer reveal popup*/

.outer.answer_popup {
    background:transparent;
}

.answer_reveal {
    text-align:center;
    margin-top:0px;
}

#answer_reveal {
 background-color:rgba(255,255,255,0.8);  
}

.results_container {
  height: 180px;
  text-align:center;
  width:100%;
  position:relative;
}

.results_background {
  background-color: grey;
  width: 180px;
  height: 180px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  -o-border-radius: 90px;
  border-radius: 90px;
  -moz-box-shadow: -1px 1px 3px #000;
  -webkit-box-shadow: -1px 1px 3px #000;
  -o-box-shadow: -1px 1px 3px #000;
  box-shadow: -1px 1px 3px #000;
  margin:0 auto;


} 

.answer_bubble {
    background:#FFFFFF;
    height:120px;
    width:120px;
    border-radius:100%;
    position:absolute;
    top:30px;
    left:55px;
    text-align:center;
    font-size:2.75em;
    padding-top:30px;
    z-index:1000;
    -moz-box-shadow: -1px 1px 3px #000 inset;
    -webkit-box-shadow: -1px 1px 3px #000 inset;
    -o-box-shadow: -1px 1px 3px #000 inset;
    box-shadow: -1px 1px 3px #000 inset;
}

.pie {
  position:absolute;
  width: 180px;
  height: 180px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  -o-border-radius: 90px;
  border-radius: 90px;
  clip: rect(0px, 90px, 180px, 0px);


}

.hold {
  position:absolute;
  width: 180px;
  height: 190px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  -o-border-radius: 90px;
  border-radius: 90px;
  clip: rect(0px, 180px, 180px, 90px);
  left:25px;
  top:0px;

}

#yes_portion .pie {
  background-color: #1b458b;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);

}

/*
.yes_portion {
    width:50%;
    height:100%;
    background-color:red;
    float:left;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    
}

.no_portion {
    width:50%;
    height:100%;
    background-color:yellow;
    float:left;
    border-top-right-radius: 90px;
    border-bottom-right-radius:90px;
}
*/

.answerText {
    margin-top:10px;
}

.answerText  {
    font-size:2em;
}

.answerText span {
    font-size:2.5em;
}


/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 


    .question {
        width:100%;
        min-height:0px;
        height:auto;
    }

    .question p {
        font-size:1.5em;
        height:auto;
        padding:10px;
    }


    .main_content_container {
        min-width:800px;
    } 



    .user-info-wrapper {

    }

    .content_component_container {
        padding-bottom:10px;
        padding-top:0px;
        height:auto;
       
    }
/*
    .fbpic_small {
        width:120px;
        height:120px;
        background-image: url('../img/shutterstock_157248584.jpg');
        background-size:500%;
        background-position: 0% 0%;
        vertical-align: top;

    }

    .friend-name {
        position:relative;
        top:0px;
        padding:10px;

    }

    */

    .helper_popup {
        margin-top:30px;
    }

    .answer_bubble {
        padding-top:25px;
        top:30px;
        left:117px;

    }


    .hold {

      left:88px;
      top:0px;

  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .helper_popup {
        width:400px;
        padding:30px 30px 30px 15px;
        margin-top:20px;
    }

    .main_content_container {
        background:transparent;
        margin-top:130px;
    }


    .content_component_container {
        padding-bottom:10px;
        padding-top:0px;
        text-align: center;
    }


    .question {
        text-align: left;
        
    }

    

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 .answers {
    width:100%;
    margin-top:10px;
    margin-bottom:30px;
    margin-left:0px;
    font-family:"icomoon";
    padding-left:0px;


}



.answers .na-button{
    width:40px;
    border-radius:100%;
    font-size:1.5em;
    font-weight:bold;
    color:rgba(255, 0, 0, 0.5);
    border:5px solid rgba(255, 0, 0, 0.5);
    background:white;
    padding:0px 5px 0px 5px;


}

.content_component_container {
    padding-bottom:10px;
    padding-top:0px;
}

}
