/*LESS COLORS not sure how to use at this point*/

@color{

@colorback1:#142952;
@fontcolor1:#333; /*dark grey*/
@bordercolor1:#3399FF; /*light blue*/
@bordercolor2:#28A9D6;/*light blue USED*/
@colorback2:#FFFFEB;/*light yellow*/
@colorback3:#0055A5; /*navy blue USED*/
@yesbuttoncolor:
@nobuttoncolor:
@nabuttonborder:
@postdatelabelcolor:
@friendsstatuslabelcolor;


/*Green and Blue theme*/

@darkblue: #0055A5;
@lightblue: #28A9D6;
@white: #FFFFFF;
@limegreen:#C2D52C;
@lightyellow:#EDF684;

}

/*REPEATED ITEMS*/

@font-face {
                font-family: samarkan;
                src: url(../../fonts/samarkan/SAMARN__.TTF)
        }

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    }


.all-app-pages {
        background: url("../../img/buddhistpainting2.jpg");
        background-size:100%;
        }        

/*PHOTO TILES*/

        .tilepage-container {
                   
                background:#FFFFEB;
                border: 1px solid #28A9D6;
                margin-top:85px;

        }

        .photo-col {
                padding:0px;
        }

        .thumbnail {
                padding:10px;
                background:#FFFFEB;
                border: 2px solid #28A9D6;
                border-radius:0;
                margin-bottom:0px;
                height:950px;
                padding-top:40px;
                
        }

       	.user-info-wrapper {
      		text-align:center;
       		width:100%;
       	}

        .caption {
        	width:80%;
        	vertical-align: top;
            margin:auto;

        }

        .caption .user-name {
            margin-top:0px;
            text-align:center;

        }


        .thumbnail-spritepic {
                width:300px;
                height:300px;
                background-image: url('../img/shutterstock_157248584.jpg');
                background-size:600%;
                background-position: 0% 0%;
                position:relative;
                margin:0 auto;
                vertical-align: top;
               
        }

        /*note this is the temporary generation of pictures from the sprite sheet not the real way photots will be pulled from facebook*/

        .thumbnail-spritepic.user_num_1_fb_photo {        
                background-position: 1.8% 1.8%;
        }

        .thumbnail-spritepic.user_num_2_fb_photo {
                background-position: 1.4% 25.5%;
        }

        .thumbnail-spritepic.user_num_3_fb_photo {
                background-position: 0% 40.9144%;
        }



        .question {
                padding:10px;
                background: #0055A5; 
                position:relative;
                min-height:180px;
                border-radius:0px;


        }

        .question p{
                font-size:1.5em;
                color:#FFFFEB;
                display:block;
                min-height:140px;


        }

        .question span {
            display:inline-block;
            font-size:1.25em;
            margin-bottom:5px;
          

        }

        .label-default {
            background-color:transparent;
            color:#EDF684;
        }

        .label-primary {
            background-color:#28A9D6;
        }

        .answers {
                width:90%;
                margin-top:10px;
                margin-bottom:30px;
                margin-left:30px;
                font-family:"icomoon";

        }

        .yes-button,
        .no-button {
                width:170px;
                padding:0px 0px 0px 0px;
                margin:0;
                font-size:1.5em;
                border-radius:100%;
                font-size:8em;
                
        }



        .answers .na-button{
            width:60px;
            border-radius:100%;
            font-size:2em;
            font-weight:bold;
            color:rgba(255, 0, 0, 0.5);
            border:5px solid rgba(255, 0, 0, 0.5);
            background:white;

           
        }



        /*MEDIA QUERIES*/

        /* Extra small devices (phones, less than 768px) */
        /* No media query since this is the default in Bootstrap */

        /* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */
        
        @media (min-width: 768px) { 
        
        .answers {
            margin-left:70px;

        }
                

         }

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) { 
     
        .tilepage-container {
        	margin-top:0px;
        }

        .thumbnail {
            height:auto;
        }

        .thumbnail-spritepic {
                width:80%;
                height:260px;
                background-image: url('../img/shutterstock_157248584.jpg');
                background-size:500%;
                background-position: 0% 0%;
                
                vertical-align: top;
               
        }

        .caption {
            padding-left:0px;
        }

      
        .question {
                padding:10px;
                background: #0055A5; 
                position:relative;
               
                border-radius:0px;


        }

        .question p{
                font-size:1.5em;
                color:#FFFFEB;
                display:block;
                min-height:140px;


        }

        .question span {
            display:inline-block;
            font-size:1.25em;
            margin-bottom:5px;
          

        }

        .answers {
                width:100%;
                margin-top:10px;
                margin-bottom:30px;
                margin-left:0px;
                font-family:"icomoon";
                padding-left:0px;


        }

        .yes-button,
        .no-button {
                width:88px;
                height:88px;
                padding:0px 0px 0px 0px;
                margin:0;
                
                border-radius:100%;
                font-size:4.5em;
                
        }

        .answers .na-button{
            width:30px;
            border-radius:100%;
            font-size:1.25em;
            font-weight:bold;
            color:rgba(255, 0, 0, 0.5);
            border:5px solid rgba(255, 0, 0, 0.5);
            background:white;
            padding:0px 5px 0px 5px;

           
        }

                         }

        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) { 

               .answers {
                width:100%;
                margin-top:10px;
                margin-bottom:30px;
                margin-left:0px;
                font-family:"icomoon";
                padding-left:0px;


        }

        .yes-button,
        .no-button {
                width:110px;
                height:110px;
                padding:0px 0px 0px 0px;
                margin:0;
                
                border-radius:100%;
                font-size:5.5em;
                
        }

        .answers .na-button{
            width:40px;
            border-radius:100%;
            font-size:1.5em;
            font-weight:bold;
            color:rgba(255, 0, 0, 0.5);
            border:5px solid rgba(255, 0, 0, 0.5);
            background:white;
            padding:0px 5px 0px 5px;

           
        }
                
                }