/*INVITE FRIENDS PAGE STYLESHEET*/


/*INVITE FRIENDS*/ 


.caption{

	padding-top:20px;
}

.jumbotron h1 {
	font-weight:bold;
	font-size:2em;
}



.friend-name h2 {
	margin-top:10px;
}

.button-wrapper {
	display:inline-block;
	

}
.add-friend-button {
	font-size:3em;
	width:100%;
	background:transparent;
	color: #FFFFEB;
	border:none;
    padding:0px 30px 0px 0px;
	vertical-align: middle;
	left:300%;
}










/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 

	.friendsarea_container {
		width:100%;
		margin-top:75px;

	}    

	.new_query {
		padding:0px 30px 0px 30px;
	}

	.col-xs-12 {
		
		border:none;
	}   

	.fb_friendsarea {
		padding:0;
	}

	.add-friend-button {
		font-size:2em;
		left:100%;
		padding-top:5px;
	}

	.fb-column .row{
		width:100%;
		margin:0;
		padding:0;
		border: 1px solid #28A9D6;
	}
}



	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px) { 

		.friendsarea_container {
			width:80%;
			max-width:930px;
			margin: 0 auto;
		}


		

	}

	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) { 

		

	}