/*INVITE FRIENDS PAGE STYLESHEET*/

/*SEACHBAR*/


.invite-friends.form-group,
.mobile-searchbox .form-control {
	width:100%;
	padding:0px;
	
}

.mobile-searchbox .form-control {
	padding:10px;
	border-radius:0;
}
.invite-friends.form-group {
	margin-bottom:0px;
}

.mobile-searchbox .search-button {
	left:85%;
	padding-top:12px;
}


/*INVITE FRIENDS*/

.fb_friendsarea {
	padding:0px;
	width:100%;
	margin: 0 auto;
	border: 1px solid #FFFFFF;
	clear:both;
	background: #0055A5; 
	color:#FFFFEB;

}

.fb-column {
	border-right: 1px solid #FFFFEB;
}

.user-info-wrapper {
	border-bottom: 1px solid #FFFFEB;
}

.fbpic_container {
	padding:5px;
}

.fbpic_small {
	width:50px;
	height:50px;

} 

.friend-name {
	top:20px;
}

.add-friend-button {
	display:inline-block;
	float:right;
	top:15px;
	background:transparent;
	border:none;
	font-size:1.5em;
	padding-right:30px;
	margin-right:10px;


}


/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 

	.main_content_container {
		min-height: 1000px;
	}

	.content_component_wrapper {
		padding:0px 30px 0px 30px;
	}



	.fb_friendsarea {
		width:90%;
	}

	.add-friend-button {
		font-size:2em;
		padding-top:5px;
		margin-right:40px;
	}

	.fb-column .row{
		width:100%;
		margin:0;
		padding:0;
		border: 1px solid #28A9D6;
	}

	
	.mobile-searchbox .form-control {
		width:92%;
		border-radius:20px;
		margin-top:20px;
	}

	.invite-friends.form-group,
	.mobile-searchbox .form-control {
		padding:10px;
		font-size:1.5em;
	}

	.mobile-searchbox .search-button {
		left:85%;
		margin-top:30px;
		font-size:1.5em;
	}

	.mobile-headertext {
		font-size:1.5em;
	}

}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

.main_content_container {
		min-height: 800px;
		padding-bottom:30px;
	}




}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



}

