/*ME  PAGE STYLESHEET*/	

/*HEADER*/

.page-header .container h1 {
	margin-left:150px;
	font-size:3em;
}

/*PROFILE AREA*/ 
.row {
	color:#FFFFEB;
	border:1px solid white;
}

.small_screen_pagetitle {
	background:#FFFFEB;
	color:#0055A5;
	text-align: center;
}


.content_component_container {
	padding:0;
	margin:0;

}


.fbpic_container {
	width:100%;
	height:auto;
	float:left;
	clear:none;
	border:1px solid #FFFFFF;
	background:#0055A5;
	
}

.name_wrapper {
	height:auto;
	border:1px solid #FFFFFF;
	position:relative;
	float:left;
	clear:both;
	width:100%;
	
}

.edit_pencil {
	background:transparent;
	position:absolute;
	border:none;
	font-size:1em;
	padding:5px 35px 15px 15px;
	margin:0 auto;
	left:70%;
	color:#FFFFEB;
}

.name_wrapper .edit_pencil {
	color:#333;
}

.user_karma_info {
	padding:0px;
	margin:0px;
	position:relative;
	background:#0055A5;
	
}

.user_karma_info .top-navbar-icon-label {
	float:left;
	margin:10px 5px 10px 20px;
	
} 
.user_karma_info .top-navbar-icon-label p{
	line-height: 0.75em;
	text-align: center;

} 

.user_karma_info .top-navbar-icon {
	margin:5px 20px 0px 0px;
	text-align: center;


}

.user_karma_info .badge {
	padding:0px;
	text-align: center;
	
}

.user_karma_info .glyphicon-chevron-right {
	position:absolute;
	top:38%;
	left:86%;
	float:right;
	color:#FFFFEB;

}	

.form-group label,
.btn-group label {
	padding:10px;
}

.main_content_container .form-group input,
.name_wrapper input {
	border-radius: 0px;
	width:100%;
	height:auto;
	border:1px solid #FFFFFF;
	
}

.name_wrapper input {

}


/*QUERIES SECTION*/

.user_info_editor {
	background:#FFFFEB;
	width:100%;
	margin: 0 auto;
	padding:0px;	
	text-align: center;

}


.caption {
    padding-top:30px;
    border-top:1px solid #28A9D6;
}

.delete-button {
    margin-right:20px;
}


.question {
	clear:both;
}


.label_wrapper {
    padding:0px 0px 20px 0px;
    clear:both;
    text-align: left;
}

.label_wrapper .btn-group {
    float:right;
}


.answers {
	padding-top:20px;
	padding-bottom:20px;
}

.btn.yes-button,
.btn.no-button {
    width:36%;
    padding:0px 0px 0px 0px;
    margin:0;
    border-radius:50px;
    font-size:4em;
    line-height:1.5;
}


.result {
    font-size:0.6em;
    margin-top:-10px;
    padding-top:-10px;
}

.answers .na-button{
    width:18%;
    border-radius:25px;
    font-size:2em;
    font-weight:bold;
    color:rgba(255, 0, 0, 0.5);
    border:5px solid rgba(255, 0, 0, 0.5);
    background:white;
    margin-left:10px;
    margin-right:10px;

}


.query_nav_buttons {
	margin:30px;
	border:1px solid #FFFFFF;
}









/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 

	.main_content_container {
		margin-top:80px;
	}
	.content_component_container {
		padding:0px 30px 30px 30px;
		background:#FFFFEB;
		height:auto;

		
	}

	.col-xs-12 {
		border:none;

	}   
	
	.inner_content_wrapper {
		background:#0055A5;
		margin:20px;
	}


	.fb-column .row{
		width:100%;
		margin:0;
		padding:0;
		
	}

	.user_karma_info .top-navbar-icon {

		margin:20px 80px 20px 20px;
		width:120px;
		text-align:center;
	}
}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	.content_component_container {
		padding-top:30px;
	}


	.user_karma_info .badge-wrapper {
		padding:10px 0px 10px 0px;
		text-align: center;
		font-size:1.25em;
	}

	.user_karma_info .glyphicon-chevron-right {
		top:38%;
		left:85%;
		


	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



}

* {
    border: 1px solid black;
}