/*ME  PAGE STYLESHEET*/	

/*HEADER*/

.page-header .container h1 {
	margin-left:150px;
	font-size:3em;
}

/*PROFILE AREA*/ 


.small_screen_pagetitle {
	background:#FFFFEB;
	text-align: center;
	
}

.content_component_container {
	padding:0px;
	color:#FFFFEB;
}


.fb-column {
	text-align:center;
	height:auto;

}


.fbpic_container {
	width:100%;
	height:auto;
	position:relative;
	clear:none;
	float:left;
	background:#0055A5;
	padding-top:10px;
	padding-bottom:none;
	
}

.name_wrapper {
	height:auto;
	width:100%;
	position:relative;
	float:left;
	clear:both;
	background:#0055A5;
	padding:0px;
	
}

.user-name {
	margin:0px;
	margin-bottom:7px;
}

.edit_pencil {
	background:transparent;
	position:absolute;
	border:none;
	font-size:1em;
	padding:10px 35px 15px 15px;
	margin:0 auto;
	left:70%;
	color:#FFFFEB;
}

.link-column {
		border-left:2px solid #FFFFFF;
}

.user_karma_info {
	padding:10px 5px 7px 5px;
	margin:0px;
	position:relative;
	background:#0055A5;
	text-align: center;
	border-bottom:1px solid #FFFFFF;
	
}

.user_karma_info .top-navbar-icon-label {
	margin:10px 0px 10px 0px;
	padding:0px 0px 5px 5px;
	font-size:1em;
	
} 
.user_karma_info .top-navbar-icon-label p{
	line-height: 0.6;
	margin:0px;
	

} 

.user_karma_info .top-navbar-icon {
	margin:5px 20px 0px 0px;
	text-align: center;


}

.user_karma_info .badge {
	margin-left:0px;
	padding:4px 5px 0px 0px;
	text-align: center;

	
}

.user_karma_info p {
	padding-top:10px;
}

.user_karma_info .glyphicon-chevron-right {
	position:absolute;
	top:38%;
	left:89%;
	float:right;
	color:#FFFFEB;

}	



.main_content_container .form-group input,
.name_wrapper input {
	border-radius: 0px;
	width:100%;
	height:auto;
	border:1px solid #FFFFFF;
	
}




/*QUERIES SECTION*/

.hidden {
	display:hidden;
}

.user_info_editor {
	background:#FFFFEB;
	width:100%;
	margin: 0 auto;
	padding:0px;	
	text-align: center;
	

}

.query_nav_buttons {
	border:none;
	padding:10px;

}

.query_nav_buttons .btn-default {
	border:1px solid #0055A5;
	color:#0055A5;
	background:#FFFFFF;
}

.query_nav_buttons .active {
	color:#FFFFFF;
	background:#0055A5;
	font-weight:lighter;
}

.previous_query_wrapper {
	padding:10px 0px 10px 0px;
	border-top:1px solid #28A9D6;
	text-align: left;
	width:95%;
	margin: 0 auto;
}

/*RECENT QUERY COMPONENT - REPEATED ON ME PAGE*/

.label_wrapper {
	padding:0px;
}


.label_wrapper .btn-group {
	float:right;

}

.time-label {
	float:left;

}

.time-label.label-default {
	padding:5px;
	margin-bottom:5px;

}

.privacy-level {
	margin-bottom:5px;
}

.privacy-level .btn {
	padding:2px 5px 2px 5px;
}

.question {
	clear:both;
	margin-top:5px;
	background:transparent;
	padding-left:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}

.question p {
	color:#0055A0;
	font-style:none;
	font-size:1em;
}

.answers {
	margin-top:0px;
	padding:0px;
	text-align: center;

}

.yes-answer,
.no-answer{
		font-size:1.25em;
		padding:2px 0px 2px 0px;
		display:inline-block;
		border-radius:5px;
		color:#FFFFFF;
		text-align:center;
		margin:0px;

	}

.na-answer-wrapper {
	width:auto;
	padding:0px 0px 0px 0px;
	display:inline-block;


}


.answers .na-answer {
	
	margin:0px;
	padding:0px;
}	


/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 

	.main_content_container {
		margin-top:80px;
	}

	.content_component_container {
		padding:0px 30px 30px 30px;
		background:#FFFFEB;
		height:auto;
		border:none;
		
	}

	.col-xs-12 {
		border:none;
	}   
	
	.inner_content_wrapper {
		background:#0055A5;
		margin:0 auto;
		width:700px;
	}

	.fbpic_small {
		width:150px;
		height:150px;

	}

	.edit_pencil {
		margin-top:10px;
		margin-left:20px;
	}
	
	.name_wrapper {
		font-size:1.5em;
		padding:0px;
		
	}


	.user-name {
		margin:0px;
		
	}


	.user_karma_info .top-navbar-icon-label {
		padding:20px;
	}
	.user_karma_info p {
		font-size:1.25em;
	}

	.user_karma_info .top-navbar-icon-label p{
		font-size:1.25em;

	}


	.user_karma_info .top-navbar-icon {
		margin:20px 80px 20px 20px;
		width:auto;
		text-align:center;
		font-size:1.5em;
	}

	.user_karma_info .glyphicon-chevron-right {
		font-size:2em;
		left:85%;
		top:35%;

	}
	
	.user_karma_info .glyphicon-chevron-right.last {
		top:20%;
	}


	.query_nav_buttons {
		padding:30px;
		font-size:1em;
	}

	.previous_query_wrapper {
		padding:20px 10px 20px 10px;
		margin:0px;
		width:100%;
	}


	.label_wrapper {
		padding-top:0px;

	}    

	.question p {
		font-size:1.25em;
	}


	.answers {
		padding-top:10px;
	}

	.na-answer-wrapper {
	
	}

	.answers .na-answer {
		font-size:2.5em;
		padding:0px;
	}

	.responder_count {
		font-size:0.75em;

		
	}

	.answers .yes-answer,
	.answers .no-answer {
		font-size:2.5em;
	}


}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	.main_content_container {
		width:700px;
		
		margin-top:40px;
	}

	.inner_content_wrapper {
		margin:0px;
		width:100%;
	}

	.content_component_container {
		padding-top:30px;
	}


	.user_karma_info .badge-wrapper {
		padding:10px 0px 10px 0px;
		text-align: center;
		
	}

	.user_karma_info .glyphicon-chevron-right {
		top:38%;
		left:85%;
		

	}



}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



}



