/*ME  PAGE STYLESHEET*/	
/*MOBILE NAV*/

.settings_link {
	position:absolute;
	left:85%;
	clear:none;
}

/*HEADER*/

.page-header .container h1 {
	margin-left:150px;
	font-size:3em;
}

/*PROFILE AREA*/ 

.row
 {
	color:#FFFFEB;
	background:#0055A5;
	border:1px solid white;
}

.fb_friendsarea {
	width:100%;
	height:360px;
	
	background:transparent;

}

.caption{
	padding-top:20px;
	background:transparent;



}

.new_query {
	padding:0;
	margin:0;

}

.fb-column {
	height:360px;
	
}

.row.friend_fbpic_container {
	width:100%;
	height:270px;
	float:left;
	clear:none;
	background:transparent;
	border:1px solid #FFFFFF;
	
	
}


.fb_friendpic_small {
	width:240px;
	height:240px;
	margin:15px 30px 15px 30px;
	position:relative;
	
	
}


.row.friend-name {
	height:90px;
	border:1px solid #FFFFFF;

}

.friend-name h2 {
	margin-top:25px;
	margin-left:10px;
	margin-bottom:21px;
	text-align: center;
	

}

.edit_pencil {
	background:transparent;
	position:absolute;
	border:none;
	font-size:1.25em;
	font-weight:bold;
	padding:15px 35px 15px 15px;
	margin:0 auto;
	left:80%;
	color:#FFFFEB;
}

.friend-name .edit_pencil {
	color:#333;
}

.user_info_editor {
	background:transparent;
	padding:10px;
}
.user_karma_info {
	
	padding:0px;
	margin:0px;
	position:relative;
	height:120px;
	
	

}

.user_karma_info .top-navbar-icon-label {
	float:left;
	font-size:1.75em;
	margin:20px 5px 20px 20px;
	


} 
.user_karma_info .top-navbar-icon-label p{
	line-height: 0.75em;
	text-align: center;

} 

.user_karma_info .top-navbar-icon {
	left:45%;
	margin:20px 50px 20px 20px;
	width:100px;
	text-align: center;
}

.user_karma_info .badge-wrapper {
	padding:10px 0px 10px 0px;
	text-align: center;
	font-size:1.25em;

}



.user_karma_info .glyphicon-chevron-right {
	font-size:2em;
	position:absolute;
	top:38%;
	left:86%;
	float:right;
	color:#FFFFEB;


}	

.user_info_editor {
	width:100%;
	margin: 0 auto;
	padding:0px;
	
}

.btn-group {
	clear:both;
}

.form-group label,
.btn-group label {
	font-size:2em;
	padding:10px;
}




.friendsarea_container .form-group input,
.name_wrapper input {
	border-radius: 0px;
	width:100%;
	font-size: 2em;
	height:auto;
	font-family:'exo 2';
	border:1px solid #FFFFFF;
	
}

.name_wrapper input {
	height:90px;
}


.user_info_editor .form-group {
	width:100%;
	margin:0px;
}

.me_page_button {
	font-size:2em;
	margin-top:0px;
	border-radius:0;
	border:none;
	font-family:'exo 2';
	padding:30px;
}


.btn-success.me_page_button {
	background:#5cb85c;;
}

.btn-danger.me_page_button {
	background:#F0AD4C;
	margin-top:0px;
	border-top: 1px solid white;
}

.like_karma_police {
	width:100%;
	display:block;
	margin: 0 auto;
}

.like_karma_police label {
	display:block;
}
.like_karma_police a {
	width:auto;
	color:#FFFFEB;
	background: #28A9D6;
	font-size:3em;
}



/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 

	.friendsarea_container {
		width:100%;
		margin-top:155px;

		

	}    

	.new_query {
		padding:30px 30px 0px 30px;
		background:#FFFFEB;
		height:auto;
		
	}

	.col-xs-12 {
		
		border:none;

	}   
	
	.inner_content_wrapper {
		background:#0055A5;
		margin:20px;
	}


	.fb-column .row{
		width:100%;
		margin:0;
		padding:0;
		
	}

	.user_karma_info .top-navbar-icon {

		margin:20px 80px 20px 20px;
		width:120px;
		text-align:center;
	}
}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	.friendsarea_container {
		width:80%;
		max-width:930px;
		margin: 0 auto;
	}




	.user_karma_info .badge-wrapper {
		padding:10px 0px 10px 0px;
		text-align: center;
		font-size:1.25em;
	}

	.user_karma_info .glyphicon-chevron-right {
		font-size:2em;
		color:#FFFFEB;
		position:absolute;
		top:38%;
		left:85%;
		float:right;


	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



}