/*LOGIN PAGE STYLESHEET*/

.all-app-pages {
	background: url("../../img/buddhistpainting3.jpg");
	background-size:320px 480px;
}
/*SIGNIN CONTAINER*/

.signin_container {
	text-align:center;
	width:100%;
	height:auto;
	padding:40px;
	position:relative;
	margin-top:50px;
	margin-bottom: 50px;

}

.signin_container h1 {
	display:block;
	width:100%;
	line-height: 0.02;
}
.signin_container .navbar-brand {
	font-size:5em;
	display:block;
	

}

.navbar-brand1 {
	margin-left:-20px;
}

.navbar-brand2 {
	margin-left:20px;
	margin-bottom:50px;
}

.fb_button {
	clear:both;
	margin: 0 auto;
	padding:10px;
	margin-top:50px;
	display:block;
	font-size:1.25em;
	width:85%;
}

.signin_container .login_label {
	padding:15px;
	margin-top:10px;
	font-size:1.25em;
}

.screen-footer .footer-container {
	position:relative;
	clear:both;
}

.dropdown-menu {
    font-size:2em;
}


/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up !!!!@screen-sm-min not working!!!) */

@media (min-width: 768px) { 

.signin_container {
	
	margin-top:200px;
	margin-bottom: 200px;

}


.signin_container h1 {

	line-height: 0.35;
}

.signin_container .navbar-brand {
	font-size:10em;
	display:block;	
}

.navbar-brand1 {
	margin-left:-20px;
}

.navbar-brand2 {
	margin-left:35px;
	margin-bottom:50px;
}

.fb_button {
	font-size:2em;
	width:40%;
	padding:30px;
	margin-top:50px;
	}

.signin_container .login_label {
	padding:15px;
	margin-top:20px;
	font-size:2em;
}	

}




	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px) { 

		

	}

	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) { 

		

	}